<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Financial Times</title>

    <!-- This is your style sheet. -->
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
</head>
<body>
    <header>
        <h1>Financial Times</h1>
    </header>
    <main>
        {{{ body }}}
    </main>
</body>
</html>
