<div class="stock-tickers">
  {{#each stocks as |stock|}}
    <div class="ticker">
      <h5 >{{stock.name}}</h2>
      {{!-- Add origami typography and helper function for conditional styles --}}
      <h6 class="o-typography-heading-level-6 daily-change {{changeColor this.oneDayChange}}">{{stock.oneDayChange}}%</h5>
    </div>
  {{/each}}
</div>
