<div class="stock-tickers">
  {{#each stocks as |stock|}}
    <div class="ticker">
      <h5>{{stock.name}}</h2>
      <h5 class="daily-change">{{stock.oneDayChange}}%</h5>
    </div>
  {{/each}}
</div>
