body {
    background: #fff1e5;
    font-family: sans-serif;
    font-size: 18px;
    padding: 20px;
}

.stock-tickers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: black;
    color: white;
    padding: 5px 8px 5px 8px;
    max-height: 2rem;
}

.ticker {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    /* padding: 5px; */
    margin-left: 20px;

}

.daily-change {
    padding: 2px;
    padding-left: 4px;
    border-radius: 4px;
}

.positive {
    border: 1px solid #9cd321;
    border-color: #9cd321;
    color: #9cd321;
}

.negative {
    border: 1px solid #FF1966;
    border-color: #FF1966;
    color: #FF1966;
}